<h1>コミュニティカード</h1>
<% @community.cards.each do |card| %>
  <% if card.suit == "♦" || card.suit == "♥" %>
    <a class="red_suit" ><%= card.suit %></a>
  <% else %>
    <a class="black_suit"><%= card.suit %></a>
  <% end %>
  <a><%= card.number %></a>
<% end %>


<h1>あなたの手札</h1>
<% @player.cards.each do |card| %>
  <% if card.suit == "♦" || card.suit == "♥" %>
    <a class="red_suit" ><%= card.suit %></a>
  <% else %>
    <a class="black_suit"><%= card.suit %></a>
  <% end %>
  <a><%= card.number %></a>
<% end %>
