<img src="/intro03.jpg" alt="" class="bg" />
<div id="container">
  <div class="login-box">
    <div class="login-logo"><b>DigitalHoldem</b><br>
      新規プレイヤー登録
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">プレイヤー登録をしてください</p>
        <div class="form-body">
          <% @player.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <%= form_for(@player, url: players_path) do |f| %>
          <%= render partial: 'form' , locals: {f: f} %>
          <div class="row">
            <div class="col-8">
            </div>
            <div class="col-4">
              <%= submit_tag("新規登録", class: 'btn btn-primary')%>
            </div>
          </div>
          <% end %>
        </div>

        <div class="social-auth-links text-center mb-3">
          <p>- OR -</p>
          <%= link_to 'ログインはこちらから', new_session_path, class: 'btn btn-block btn-info'%>
        </div>
      </div>
    </div>
  </div>
</div>
